/**
 * @file
 * Customization for CHSS
 *
 */

@import "base";
@import "compass";
$box-sizing-polyfill-path: "/sites/all/themes/wwuzen/js/boxsizing.htc";


//Borders and colors for the homepage columns
.clean-cst-middle-left {
  border-top:5px solid #025194;

  h2 {
    color: #025194;
    margin-top:0.75em;
    }
  .cst-news-feed-item {
    border-bottom:1px solid #d6d6d6;

  img{
      float:left;
      padding-right:1em;
    }
  }
  .more-link {
    text-align:left;
  }
}

.clean-cst-middle-center {
  border-top:5px solid #0098db;

  h2 {
    color: #0098db;
    margin-top:0.75em;
    }
  //Separator for each event

  .more-link {
    text-align:left;
    margin-top: 15px;
    padding-bottom: .45em;
    border-bottom: 1px solid #d6d6d6;
  }
}

.clean-cst-middle-right {
  border-top:5px solid #007d51;


  h2 {
    color: #007d51;
    margin-top:0.75em;
    }
  .student-news-story {
    border-bottom:1px solid #d6d6d6;
    padding-bottom:10px;
    margin-bottom:25px;
    img {
      border: 10px solid #ffffff;
      float: left;
      margin-right: 1em;
    }
  }
}

// @include hide-text-bg-img;


/*
 * Home page styles: slideshow and mission statement
 */


@media screen and (min-width:1015px) {
//Slideshow styles for the homepage
  .view-cst-hero-slider {
    .flexslider {
      margin: 1.2em 0 20px;
      width: 48%;
      float:left;
      ul {
      	background: #fff;
      }
    }
    .flex-caption {
      clear: both;
      float: right;
      font-size: 0.8em;
      width: 27em;
      background: #fff;
      color: #000;
    }
   .flexslider .slides img {
    display:inline-block;
   }
   .flex-control-nav {
   		position: static;
   		text-align: left;
   }
  }
  .mission-statement {padding-left: 51%;}
  .mission-statement h2 {margin-top: 0.2em;}
}

// Western stands for Washington Campaign Graphic
#campaign-button {
	margin-top: 40px;
}

/**
* Override the default flexslider presentation.
*/

.flex-direction-nav a.flex-next:before,
.flex-direction-nav a.flex-prev:before {
  font-size: 20px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  height: 34px;
  width: 34px;
  background-color: #868686;
  color: #ffffff;
  border-radius: 50%;
  text-decoration: none;
}
 .flex-direction-nav a {
    &:hover {text-decoration: none; }
    &:focus {text-decoration: none; }
  }



/*
 * Homepage styles: Lower column views
 */

.student-news-story {overflow: auto;}

